data
model/ckpt-resnet101-mlimages-imagenet
model/inception/model
model/inception/pretrain
model/resnet/model
model/resnet/pretrain
model/vgg/model
model/vgg/pretrain
model/alexnet
model/resnet_tel
eval
logs
logs_res